<div class="container">
    <h1>Pages#home</h1>
    <p> This is a pratice project for Ruby on rails using bootstrap</p>
    <%# to link to other pages %>
    <%= link_to "about page",pages_about_path %> 
</div>

